* {
  margin: 0; 
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

@font-face {
  font-family: 'SourceSans';
  src: url('fonts/SourceSansPro.ttf')
}

html,
body {
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  height: 100vh;
  font-family: "SourceSans";
}

body {
  font-size: 1.6rem;
  background: #DBE0E6;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12,1fr);
  grid-template-rows: minmax();
}

.content {
  max-width: 1000px;
  margin: 0 auto; 
  grid-column: 1/13;
}

ul {
  list-style: none;
}

.box {
  background: #FFFFFF;
  border: 1px solid #CCCCCC;
  border-radius: 3px;
}

header { 
  grid-column: 1/13;
  background: #fff;

  display: flex;
  justify-content: space-between;
}

header .logofunctions {
  display: flex;
}

header .userfunctions .userlogo {
  display: flex;
}

/* .hero {
  grid-column: 1/13;
  height: 200px;
  width: 100%;  
  background: url(Images/background.jpg) no-repeat 0px -50px;
  background-size: cover;
} */

nav {
  grid-column: 1/13;
  display: flex;  
  background: #fff;
  padding-left: 180px;
}

nav ul {
  display: flex;
}

.trending {
  grid-column: 1/13;
  width: 100%;
}

.blocks {
  grid-column: 1/13;
  gap: 10px;
}
.trend {
  margin: 10px 0;
  height: 170px;
  border-radius: 10px;
} 

.one {
  background: #000;
  grid-column: 1/ span 3;
}

.two {
  background: #213;
  grid-column: 4 / span 3;
}

.three {
  background: rgb(36, 63, 14);
  grid-column: 7 / span 3;
}

.four {
  background: rgb(15, 37, 97);
  grid-column: 10 / span 3;
}

section,
aside {
  margin-top: 20px;
}

section { 
  grid-column: 1/9;
  padding: 0 10px 0 30px; 
}

section > *:not(:first-child){
  margin-top: 10px;
}

aside {
  grid-column: 9/13;

  padding: 30px 30px 0 10px; 
}

aside > *:not(:first-child){
  margin-top: 10px;
}

/* =========================
RESPONSIVE  */

@media screen and (max-width: 963px) {
  .grid {
    grid-template-columns: repeat(12, 1fr);
  }
  .one {
    background: #000;
    grid-column: 1/ span 3;
  }
  
  .two {
    background: #213;
    grid-column: 4 / span 3;
  }
  
  .three {
    background: rgb(36, 63, 14);
    grid-column: 7 / span 3;
  }
  .trending {
   margin: 0 40px;
   /* width: auto; */
  }
  section { 
    grid-column: 1 / span 8
    padding: 0 25px;        
  }
  aside {
    grid-column: 9 / span 4;
  }
}



@media screen and (max-width: 959px) {
  aside {
    display: none;
  }  
  .grid {
    grid-template-columns: repeat(12, 1fr);
  }
  .one {
    background: #000;
    grid-column: 1/ span 3;
  }
  
  .two {
    background: #213;
    grid-column: 4 / span 3;
  }
  
  .three {
    background: rgb(36, 63, 14);
    grid-column: 7 / span 3;
  }
  .trending {
   margin: 0 40px;
   width: auto;
  }
  section { 
    grid-column: 1 / span 12;
    padding: 0 25px;        
  }
}



@media screen and (max-width: 945px) {
  aside {
    display: none;
  }  
  .grid {
    grid-template-columns: repeat(12, 1fr);
  }
  .one {
    grid-column: 1/ span 4;
  }
  
  .two {
    grid-column: 5 / span 4;
  }
  
  .three {
    grid-column: 9 / span 4;
  }
  .four {
    display: none;
  }
  .trending {
   margin: 0 35px;
  }
  section { 
    grid-column: 1 / span 12;
    padding: 0 25px;        
  }
}



@media screen and (max-width: 768px) { 
  .grid {
    grid-template-columns: repeat(9, 1fr);
  }
  .one {
    grid-column: 1/ span 3;
  }
  
  .two {
    grid-column: 4 / span 3;
  }
  
  .three {
    grid-column: 7 / span 3;
  }
  .four {
    display: none;
  } 
  .trending {
   margin: 0 35px;
  }

  section { 
    grid-column: 1 / span 9;
    padding: 0 25px;        
  }
}

@media screen and (max-width: 727px) { 
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
  .one {
    grid-column: 1/ span 2;
  }
  
  .two {
    grid-column: 3 / span 2;
  }
  
  .three,
  .four {
    display: none;
  } 
  .trending {
   margin: 0 35px;
  }

  section { 
    grid-column: 1 / span 4;
    padding: 0 25px;        
  }
}

@media screen and (max-width: 637px) {  
  section { 
    padding: 0;       
  }
}

@media screen and (max-width: 506px) {
  .one {
    grid-column: 1/ span 4;
  }  
  .two {
    display: none;
  }
  .trending {
    margin: 0 45px;
   }
}

@media screen and (max-width: 375px) {
  .one {
    grid-column: 1/ span 4;
  }  
  .two {
    display: none;
  }
  .trending {
    margin: 0 40px;
   }
}

/* quando eu trocar meu layout de 12 colunas pra 8, vai haver uma quebra automática de 4 quadros pra 2 por linha, imagino.
mas eu vou retirar um então deve encaixar
e ir retirando de acordo como vou reduzindo a resolução até ficar só um no menor tamanho

community e filter vão sumir a partir da primeira quebra de 768px */